<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/BRG-Logo1.gif"/>
        <span id="welcomeHeader"><b style="color:#00FF00;">BRGaMes Network</b></span>
        
        <span id="welcomeDescription">
            Olá! Bem-vindo à<b style="color: #00FF00;"> BRGaMes Network.</b> Nossa missão na comunidade brasileira de Minecraft é trazer inovação de verdade para servidores de <b style="color: #00FF00;">Survival com Mods</b>. Sabemos que a comunidade brasileira carece de opções com a estabilidade e a qualidade que esse estilo exige, e é exatamente essa realidade que viemos mudar.<br><br>
            A história da BRGaMes começou em 2012, fundada por <b style="color: #1E90FF;">( Shadow ) e ( MagnwsZero )</b>, contando com o suporte essencial dos builders <b style="color: #00FFFF;">( DimazLokao ) e ( FlintBest )</b>. A jornada começou lá na versão <b style="color: #00FF00;">Beta 1.6.4</b> usando o lendário ModLoaderMP, antes mesmo de o Forge existir! Passamos por todas as eras do jogo até realizar nosso Alpha Fechado na <b style="color: #00FF00;">Release 1.7.10</b>, aprendendo com cada desafio técnico.<br><br>
            Para garantir o máximo de performance, construímos nosso projeto definitivo na aclamada <b style="color: #00FF00;">Release 1.12.2</b>, palco do nosso <b style="color: #00FFFF;">OPEN BETA</b> e lançamento oficial. Mas não paramos por aí: já estamos preparando o futuro da Network com um projeto paralelo nas <b style="color: #00FFFF;">versões mais atuais 1.20+</b> do Minecraft, repleto de recursos inéditos. Embarque nessa aventura histórica, convide seus amigos para e venha fazer parte da BRGaMes Network!
        </span>
        <br>
        <span id="welcomeDescCTA"><b style="color:#00FF00;">Você está a apenas alguns cliques da BRGaMes Network.</b></span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUAR
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>